.main_account {
    @apply flex bg-[var(--background-grey)] items-center justify-evenly py-5 px-5;
}

.phone_model {
    border: 8px solid black;
    border-radius: 30px;
    @apply w-[300px] h-[560px] bg-[#1d1d1d] flex flex-col items-center px-5 py-2
}

.account_profileImg {
    @apply max-w-[50px] mt-8
}

.username {
    @apply text-[var(--background-grey)] mt-1 mb-10 text-sm text-center
}

.account_link_section {
    @apply flex flex-row justify-center items-center mb-3.5 w-full
}

.account_link {
    @apply bg-[var(--background-grey)] rounded-xl flex justify-center items-center w-full px-3 py-1.5
}

.backgroundstripe {
    background: repeating-linear-gradient(45deg,
            #9d9d9d 0px,
            #9d9d9d 15px,
            var(--background-grey) 15px,
            var(--background-grey) 30px);
}

.account_link span {
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    line-height: 20px;
    @apply font-semibold
}

.account_addIcon {
    @apply max-w-[20px] mr-2
}

.account_connection {
    @apply hidden flex-col w-full mb-3.5
}

.account_connection_top {
    @apply flex items-center
}

.account_inputUrl {
    @apply w-full
}

.account_input_connection {
    font-family: 'Abhaya Libre', serif;
    font-size: 18px;
    line-height: 20px;
    @apply bg-[var(--background-grey)] rounded-xl px-3 py-1.5
}

.account_input_connection:focus {
    outline: none;
}

.account_connection_bottom {
    @apply flex justify-between mt-3
}

.account_connection_submit {
    @apply max-w-[22px]
}

.account_info {
    @apply flex flex-col
}

.account_topInfo {
    @apply flex flex-row justify-between items-center mb-6
}

.account_signout {
    @apply flex flex-row w-fit items-center h-fit
}

.account_signout span {
    font-family: 'Ubuntu', sans-serif;
    @apply font-medium text-xl mr-1.5 text-[#e04f5f]
}

.account_home {
    @apply flex flex-row w-fit items-center h-fit
}

.account_home span {
    font-family: 'Ubuntu', sans-serif;
    @apply font-medium text-xl ml-1.5 text-[#0a6bad]
}

.account_title {
    font-family: 'Ubuntu', sans-serif;
    @apply font-bold text-4xl
}

.account_form {
    @apply flex flex-col
}

.account_names {
    @apply flex flex-row
}

.account_form input {
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid black;
    @apply px-2 py-1 mt-3 rounded-xl text-center font-light
}

#account_email {
    font-family: 'Ubuntu', sans-serif;
    @apply bg-white px-2 py-1 mt-3 rounded-xl text-center font-light text-[#9fa3af] cursor-not-allowed
}

.account_usernameInput {
    @apply max-w-[180px]
}

.account_bottom {
    @apply flex flex-row mt-5
}

.account_gender {
    @apply flex flex-col w-full
}

.account_gender h3 {
    font-family: 'Abhaya Libre', serif;
    @apply text-xl
}

.account_radioButtons {
    @apply flex flex-row mt-2
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]+img {
    cursor: pointer;
}

#male+img {
    @apply p-1
}

#female+img {
    @apply p-1
}

#male:checked+img {
    outline: 2px solid #4fc9ed;
    @apply rounded-lg bg-[#c9eaf4]
}

#female:checked+img {
    outline: 2px solid #f277a6;
    @apply rounded-lg bg-[#f6d6e2]
}

.account_submit {
    @apply flex justify-end items-end w-full
}

.account_submit button {
    border: 1px solid #37c743;
    @apply bg-[#37c743] px-3 py-0.5 flex items-center rounded-lg
}

.account_submit span {
    font-family: 'Ubuntu', sans-serif;
    @apply font-medium text-white mr-2 text-lg
}

@media (max-height: 650px) {
    .username {
        @apply mb-6
    }

    .phone_model {
        @apply w-[280px] h-[510px]
    }
}

@media (max-width: 830px) {
    .main_account {
        @apply flex-col-reverse
    }

    .account_info {
        @apply mt-5 mb-16
    }
}

@media (max-width: 520px) {
    .account_home img{
        @apply max-w-[28px]
    }

    .account_home span {
        @apply text-lg
    }

    .account_signout img{
        @apply max-w-[28px]
    }

    .account_signout span {
        @apply text-lg
    }

    .account_title {
        @apply text-3xl
    }

    .account_usernameInput {
        @apply max-w-[150px]
    }

    .account_gender h3 {
        @apply text-lg
    }

    .account_radioButtons img{
        @apply max-w-[40px]
    }

    .account_submit span {
        @apply text-base
    }

    .account_submit img {
        @apply max-w-[18px]
    }

    .username {
        @apply mb-6
    }

    .phone_model {
        @apply w-[280px] h-[510px]
    }
}

@media (max-width: 420px) {
    .account_title {
        font-size: 28px;
        line-height: 2.25rem/* 36px */;
    }

    .account_usernameInput {
        @apply max-w-[130px]
    }

    .account_gender h3 {
        font-size: 16px;
        line-height: 1.75rem/* 28px */;
    }

    .phone_model {
        @apply w-[260px] h-[490px]
    }
}