.main_signup_login {
    @apply flex justify-end
}

.signup_login {
    @apply flex flex-col items-center justify-center px-8 py-5 w-2/3
}

.form {
    @apply flex flex-col w-[500px]
}

.form h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem/* 48px */;
    line-height: 28px;
    @apply mb-7 font-bold
}

.form h3 {
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
    line-height: 20px;
    @apply mb-4 text-[#474747]
}

.form input {
    font-family: 'Montserrat', sans-serif;
    @apply bg-[var(--background-grey)] rounded-md mt-3 mb-0.5 px-4 py-3 text-sm text-[#141414]
}

.form input::placeholder {
    @apply text-[#141414]
}

.form input:focus {
    outline: none;
}

.form span {
    font-family: 'Ubuntu', sans-serif;
    @apply px-1.5 text-sm text-red-600 font-normal hidden
}

.form button {
    font-family: 'Ubuntu', sans-serif;
    @apply my-7 text-xl py-3 px-3 text-center rounded-3xl text-white
}

#signup_btn {
    @apply bg-[#841A3B]
}

#login_btn {
    @apply bg-[#D98723]
}

.form p {
    @apply text-center
}

.form a {
    @apply underline
}

.form label {
    @apply text-end;
}

.banner {
    @apply flex
}

@media (max-width: 1100px) {
    .form h1 {
        font-size: 38px;
        line-height: 24px;
    }

    .form h3 {
        font-size: 20px;
        line-height: 16px;
    }

    .form {
        @apply w-[400px]
    }

    .form button {
        @apply text-base py-2
    }
}

@media (max-width: 900px) {
    .signup_login {
        @apply w-full
    }

    .form button {
        @apply bg-[var(--red)]
    }

    .form a {
        @apply text-[var(--red)]
    }

    .banner {
        @apply hidden;
    }
}

@media (max-width: 500px) {
    .form h1 {
        font-size: 32px;
        line-height: 20px;
    }

    .form h3 {
        font-size: 18px;
        line-height: 14px;
    }

    .form {
        @apply w-[320px]
    }
}

@media (max-width: 400px) {
    .form h1 {
        font-size: 25px;
        line-height: 14px;
    }

    .form h3 {
        font-size: 14px;
        line-height: 10px;
    }

    .form {
        @apply w-[270px]
    }

    .form input {
        @apply text-xs px-3 py-2
    }

    .form button {
        @apply text-sm py-1.5
    }

    .form p {
        @apply text-sm
    }

    .form label {
        @apply text-sm
    }
}